* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #1f2632;
  color: #fff;
}

img {
  width: 100%;
}

h1 {
  margin: 2rem;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  max-width: 100rem;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__open:checked + .slider__item {
  position: static;
  opacity: 1;
}

.slider__item {
  width: 100%;
  height: 400px;
  position: absolute;
  border: 4px solid #fff;
  opacity: 0;
}

.slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__control {
  background-color: rgba(0, 0, 0, 0.28);
  color: #fff;
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  display: none;
}

.slider__control.prev {
  left: 2%;
}

.slider__control.next {
  right: 2%;
}

#slider-1:checked ~ .control-1,
#slider-2:checked ~ .control-2,
#slider-3:checked ~ .control-3,
#slider-4:checked ~ .control-4 {
  display: block;
}

.slider__bullet {
  color: #fff;
  font-size: 3.5rem;
  cursor: pointer;
}

.slider__indicators {
  list-style: none;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slider__indicators li {
  display: inline-block;
  max-resolution: 0 4px;
}

.slider__bullet:hover {
  color: #555;
}

#slider-1:checked ~ .slider__indicators li:nth-child(1) .slider__bullet,
#slider-2:checked ~ .slider__indicators li:nth-child(2) .slider__bullet,
#slider-3:checked ~ .slider__indicators li:nth-child(3) .slider__bullet,
#slider-4:checked ~ .slider__indicators li:nth-child(4) .slider__bullet {
  color: aquamarine;
}

footer {
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem 0;
}

footer p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}

footer p a:hover {
  color: #007bff;
}
footer p a:active {
  color: #9775fa;
}
